.header {
 
        background-color: --white;
    border-bottom: 1px solid var(--grey-2);
    font-family: Inter;
    padding: 25px 0;
}

.header__title {
    padding:  48px 0px 96px;
      /*font-family: Inter;*/
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
      color:--black;
    margin-left: 16px;
}

.header__logo-icon {
  display: block;
  margin: 0 auto;
  color: var(--black);
}

@media all and (min-width: 768px) {
  .header__inner {
      display: flex;
      justify-content: space-between;
  }
}

