.header {
 
    background-color: var(--white);
    border-bottom: 1px solid var(--grey-2);
    font-family: Inter;
    padding: 0;
}

.header__title {
    padding:  24px 0px 0px;
      /*font-family: Inter;*/
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 24px;
    color:var(--black);
    margin-left: 16px;
}
.header__logo{
  display: flex;
  justify-content:space-between;
}
.header__logo-icon {
  display:inline;
  margin: 24px;
  color: var(--black);
  height: 32px;
  width: 128px;
}
.header__switch {
  display:inline-block;
  margin: 24px;
  color: var(--black);
  height: 32px;
  width: 200px;
  right:24px;
}
.header__switch-icon {
  display:inline;
  margin: 10px;
  color: var(--black);
  height: 24px;
  width: 24px;
}
.header__toggler {
  display:inline-block;
  margin: 10px;
  color: var(--black);
  height: 24px;
  width: 52px;
}



@media all and (min-width: 768px) {
  .header__inner {
      display: flex;
      justify-content: space-between;
  }
}

