.header {
    background-color: --white;
    border-bottom: 1px solid var(--grey-2);
    font-family: Inter;
}

.header__title {
    padding:  96px 0px 77px;
      /*font-family: Inter;*/
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color:--black;
    margin: 0;
}