/*
.card  {
    display: flex;
    flex-direction: row;
    align-items:inherit;
    flex-basis: 350px;
    width:350;
    border-radius: 12px;
    background-color: var( --white);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    height: 367px;
}

.card__title {

    width:150;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--black);
    text-align: center;
    margin: 0 auto;
    vertical-align: bottom;
    margin-bottom: 30px;
    
}
*/

.card {
    background: var(--white);
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    min-width:350px;
}

.card__body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.card__title {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:150;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 2px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    color: var(--black);
}