
.histogram {
    display: flex;
    flex-direction:column;
    box-sizing: border-box;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    max-width: 100%;
    padding:16px 24px 24px 24px;
}
.histogram__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
}
.histogram__header-view {
    color: var(--blue);
}

.histogram__header-num {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 39px;
}

.histogram__columns {
    display: flex;
    flex-direction: row;
    Justify-content: stretch;
    flex-wrap: nowrap;
    width: 100%;
    overflow:hidden;
    align-items: flex-end;
}
.histogram__column {
    flex: 1 1 auto;
    overflow: hidden;
    background-color: var(--blue);
    min-width: 1px;
    margin: 0 0 0 1px;
}
.histogram__column:first-child {
   margin: 0;
}