@import '../fonts/fonts.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --blue: #4263EB;
    --purple: #7048E8;
    --pink: #F784AD;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #E2E6E8;
    --grey-6: #F3F5F5;
    --grey-7: #E3E7EA;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --primary-darken: #2342C0;
    --secondary: var(--purple);
    --secondary-darken: #5028C6;
    --calendar-active:#A0B1F5;
    --calendar: #334D6E;
    --modal:#C4C4C4;
}

* {
    font-family: 'Roboto', sans-serif;
}
