@import '../fonts/fonts.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --blue: #4263EB;
    --purple: #7048E8;
    --pink: #F784AD;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #E2E6E8;
    --grey-6: #F3F5F5;
    --grey-7: #E3E7EA;
    --grey-bg: #E5E5E5;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --primary-darken: #2342C0;
    --secondary: var(--purple);
    --secondary-darken: #5028C6;
    --calendar-active:#A0B1F5;
    --calendar: #334D6E;
    --modal:#C4C4C4;
    --active-text-color: var(--black);
    
}

* {
    font-family: 'Roboto', sans-serif;
}

.ten {
    --value-1:25;
    --value-2:15;
    --value-3:85;
    --value-4:10;
    --value-5:30;
    --value-6:95;
    --value-7:5;
    --value-8:75;
    --value-9:25;
    --value-10:60;
    }

html[data-theme-dark] {
    --white: #212429; 
    --black: #ffffff; 
    --blue: #4263EB;
    --purple: #7048E8;
    --pink: #F784AD;
    --red: #F03D3E;
    --grey-1: #495057;  
    --grey-2: #ACB5BD; 
    --grey-3: #ACB5BD;
    --grey-4: #F8F9FA;

    --grey-5: #E2E6E8;
    --grey-6: #ACB5BD;
    --grey-7: #DDE2E5;
    --grey-bg: #444444;

    --active-text-color: var(--black);
}
.main {
    display: block;
}