.page {
    background-color: var(--main);
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 0px;
}

.page__header{
    display:flex;
    align-items: center;
    justify-items:end;
    height: 64px;
    background-color: var(--grey-1);
}

.page__icon{
    margin: 0 auto;
    color: var(--black);
    width: 128px;
    height: 32px;
 }

.page__main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 20px;
    background-color: var(--grey-1);
    place-content: center;
}

.page__footer {
    text-transform: uppercase;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.04em;
    color:var(--grey-4);
    font-size: 12px;
    line-height: 18px;
    background-color: var(--grey-1);
}
.menu {
    width:40px;
    background-color: var(--grey-1);
    overflow: hidden;
    z-index: 1;
}
.component {
    display: block;
    margin:40px;
    background-color: var(--white);
    width: 400px;

}
.component__title {
    margin: 40px;
    height: 40px;
   /* text-align: center;*/
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color:var(--grey-4)
}