
.skeleton 
{
    box-sizing: border-box;
    margin:0px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
}
.skeleton-column {
    display: flex; 
    flex-direction:column;
    justify-content: space-evenly;
    flex: 0 3 100%;
    max-width: 100%;
    margin:24px;
}

.skeleton-row {
    display: flex; 
    flex-direction:row;
    justify-content:start;
    align-items:center;
    flex: 0 3 100%;
    max-width: 100%;
    margin:0px;
}
.skeleton-horizontal-gradient {
    background: linear-gradient(to right, var(--grey-2) 0%, var(--grey-5) 33.33%, var(--grey-6)52.08%, var(--grey-7) 73.96%, var(--grey-2) 100% );
  }
  
 .skeleton__rectangle-min {
    flex: 0 1 20px;
    width:calc(100% * 0.33);
    height:20px;
    margin:5px;
}
.skeleton__rectangle-mid {
    flex: 0 1 20px;
    max-width:calc(100% * 0.5);
    height:20px;
    margin:5px;
}
.skeleton__rectangle-big {
    flex: 0 1 20px;
    max-width: 100%;
    margin:5px;
}
.skeleton__circle {
    flex: 0 0 auto;
    flex-basis: 64px;
    height: 64px;
    border-radius: 32px;
    background: var(--grey-2);
    margin:5px;
  }
  