.checkbox {
    display: block;
 }
 
 .checkbox__input {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
 }
 .checkbox__icon {
     display:none;
     position: absolute;
     top: 50%;
     left:50%;
     transform: translate(-50%, -50%);
 }
 
 .checkbox__control {
     width: 28px;
     height: 28px;
     background: var(--white);
     border: 1px solid var(--grey-2);
     box-sizing: border-box;
     border-radius: 4px;
     position: relative;
     cursor: pointer;
 }
 .checkbox__input:checked ~ .checkbox__state .checkbox__control{
     background: var(--blue);
     border-color: var(--blue);
 }
 
 .checkbox__input:checked ~ .checkbox__state .checkbox__icon {
     display: block;
 }
 
 .checkbox__input:focus ~ .checkbox__state .checkbox__control .checkbox__legend {
     text-decoration:underline;
 }
 
 .checkbox__input:focus ~ .checkbox__state .checkbox__control {
     border: 2px solid var(--black);
 }
 
 .checkbox__input:disabled ~ .checkbox__state .checkbox__control {
     background: var(--grey-2);
     border-color: var(--grey-2);
     cursor: default;
 
 }
 
 .checkbox__input:disabled {
     pointer-events: none;
 }
 
 .checkbox__state {
     display: inline-flex;
     align-items: center;
 
 }
 .checkbox__legend {
 
     font-family: Inter;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 24px;
     color: var(--grey-4);
     margin-left: 12px;
 }