.media-block {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    background-image: url('./public/forest_400.jpg') no-repeat;
}
@media screen and (min-width:768px) {
    .media-block {
        background-image: url('./public/forest_768.jpg');
    }
}
@media screen and (min-width:1024px) {
    .media-block {
        background-image: url('./public/forest_1024.jpg');
    }
}
@media screen and (min-width:2560px) {
    .media-block {
        background-image: url('./public/forest_2560.jpg');
    }
}
