.preview {
    display:flex;
    flex-wrap: wrap;
    gap: 30px;
    background-color: var(--grey-1);
    margin:20px;
}
.page {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    
}
.page__box {
    width: 90%;
    margin: 0 auto;
}