.preview {
    display:flex;
    flex-wrap: wrap;
    gap: 30px;
}

.preview-element {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    flex: 1 1 100%;
    gap: 10px;

}