.preview {
    display:flex;
    flex-wrap: wrap;
    gap: 30px;
}

.preview-element {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1 1 100%;
    gap: 30px;
}